* {
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
}

#splash {
    width:100%;
    height:300px;
    background-color:cornflowerblue;
}

#main {
    margin:0 auto;
    margin-top: -50px;
    max-width:64em;
    background-color:white;
}

.pure-g {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.pure-g [class*='pure-u'] {
    font-family: "Source Sans Pro", sans-serif;
    position:relative;
}

.footerdiv {
    background-color:white;
    color:blue;
    position:absolute;
    height: 1em;
    bottom:0;
    width:100%;

    box-shadow: 0 0px 6px -6px black;
}



#infodiv {
    padding:2em;
    background-color:rgb(128, 88, 165);
    color:white;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items:center;
    align-items:center;
}
