* {
    text-rendering:optimizeLegibility;
    box-sizing:border-box;
}

.title {
    font-weight:300;
}

#main {
    max-width:900px;
    margin: 0 auto;
    margin-top: -45vh;
}

#grid {
    width:100%;
}

.ribbon{
    width: 100%;
    height: 60vh;
    flex-shrink: 0;
}
